<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <h2 class="animated zoomIn" style="color:green;" style="font-size: 200px;">ART GALLERY </h2><hr>
      <a class="navbar-brand" href="{% url 'photos' %}"><button>VIEW ALL IMAGES</button></a><br><br><br>

      <a href="/location/1" ><button>FOOD</button></a>
      <a href="/location/3" ><button>TECH</button></a>
      <a href="/location/7" ><button>SPORTS</button></a>
      <a href="/location/5" ><button>TRAVEL</button></a><hr>
      <div class="collapse navbar-collapse" id="basicExampleNav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'photos' %}">
          <span class="sr-only">(current)</span>
        </a>

    </ul>
    <!-- Links -->

    <form class="navbar-form" role="search" action="{% url 'search_image' %}">

      <div class="input-group">
        <!-- <input type="text" class="form-control" placeholder="Search " name="category"> --> -->
        
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"></i><p style="color:white;">Click To Navigate To The Search Area </p></button>
  </div>
    </form>
    
      <!-- search form end -->
    </div>
</nav>
</body>
</html> 
<!--Navbar
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

  <!-- Navbar brand 
  <a class="navbar-brand" href="{% url 'photos' %}">MY GALLERY</a>

  <!-- Collapse button -
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content 
  
  <!-- Collapsible content 

</nav>
<!--/.Navbar-->
